<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="css/signup.css">
</head>

<body>

  <form method="POST" action="/signup" class="loginpage">
    <p style="color:#5e0a0a;font-size:50px; margin: 0px; padding: 0px;">SIGN UP</p>
      <input type="text" name="kullaniciId" placeholder="Kullanıcı Adı" required>
      <input type="password" name="Sifre" placeholder="Şifre" required>
      <input type="password" name="SifreTekrar" placeholder="Şifre Tekrar" required>
      <input type="submit" value="SIGN UP">
      <% if(err){
          %> <p style="margin-bottom:0px;">Login Failed</p> <%
      } %>
      <p>You have an account? <a href="/signin">SIGN IN</a></p>
  </form>
</body>

</html>


