body {
    margin: 0px;
    padding: 0px;
    height: 750px;
}
#goBack{
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 15px 30px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    transition: .3s;
    cursor: pointer;
}
#goBack:hover{
    background-color : #333;
    color : white;
}

.landingpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.buttons input {
    padding: 25px 40px;
    font-size: 20px;     
    margin-top:10px;
}


.buttons input[type="button"] {
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    transition: .3s;
    width: 250px;
}

.buttons input[type="button"]:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}
.welcome{
    color: #5e0a0a;
    font-size: 50px;
}
.form{
    display: flex;
    justify-content: space-between;
    transform: scaleY(0);
    height: 0px;
    transition: 0.3s;
}
.form input[type="submit"] {
    border: 1px solid #333;
    background-color: #333;
    color: white;
    transition: .3s;
    margin-left: 5px;
}
.form input{
    padding: 20x 30px;
    font-size: 17px;
}
.form input[type="submit"]:hover {  
    background-color: transparent;
    color: #333;
    cursor: pointer;
}
@media screen and (max-width:475px){
    .welcome{
        font-size:30px;
        text-align: center;
    }
    .buttons input {
        padding: 15px 30px;
        font-size: 20px;              
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .form input{
        padding: 20px 20px;
        font-size: 17px;
    }
    
}